<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServer" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:9998/master" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServer" contract="MasterService.IServer"
                name="NetTcpBinding_IServer">
                <identity>
                    <userPrincipalName value="t-hazhu@fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>